body {
  font-family: "Montserrat", sans-serif;
}

/* Heading */

h1, h2, h3, h4, h5, h6 {
  font-family: "Monserrat", sans-serif;
}

.big-heading {
  font-size: 3.2rem;
  font-weight: bold;
  line-height: 1.5;
}

h2 {
  font-weight: bold;
  font-size: 3rem;
}

h3 {
  font-weight: bold;
  font-size: 1.5rem;
}

#title {
  background-color: #ff4c68;
  color: #fff;
}

.container-fluid {
  padding: 3% 15% 7%;
}

/* Navigation Bar */

.navbar {
  padding-bottom: 4.5rem;
}

.navbar-brand {
  font-family: "ubuntu", sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}

/* Download Button */

.download-button {
  margin: 5% 3% 5% 0;
}

/* Title Image Section */

.title-image {
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 20%;
}

@media (max-width: 1028px) {

  #title {
    text-align: center;
  }

  .title-image {
    position: static;
    transform: rotate(0);
  }

}

.title-image-container {
  position: relative;
}

/* Features Section */

#features {
  padding: 7% 15%;
  background-color: #fff;
  position: relative;
}

.spcl-para {
  text-align: center;
  font-weight: bold;
  font-size: 2.5rem;
  margin-bottom: 2%;
}

.dog-features {
  text-align: center;
  padding: 4.5%;
}

.icon {
  color: #ef8372;
  margin: 1rem;
}

.icon:hover {
  color: #ff4c68;
}

p {
  color: #8f8f8f;
}

/* Testimonial Section */

#testimonials {
  background-color: #ef8372;
  text-align: center;
  color: #fff;
}

.testimonial-text {
  font-size: 3rem;
  font-weight: bold;
  line-height: 1.5;
}

.testimonial-image {
  border-radius: 100%;
  width: 15%;
  margin: 2%;
}

.carousel-item {
  padding: 7% 15%;
}

/* Press Section */

#press {
  background-color: #ef8372;
  text-align: center;
  padding-bottom: 2.5%;
}

.press-logo {
  width: 15%;
  margin: 0.5% 2% 1.5%;
}

/* Pricing section  */

#pricing{
  text-align: center;
  padding: 50px 100px;
}

.pricing-column {
  padding: 3% 2%;
}

/* Call To Action */

#cta {
  background-color: #ff4c68;
  padding: 7% 15%;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  color: #fff;
}

.cta-heading {
  font-size: 3.5rem;
  padding: 2% 3%;
  line-height: 1.5;
}

.cta-button {
  margin: 5% 3% 5% 0;
}

/* Footer section */

#footer {
  background-color: #fff;
  padding: 7% 15%;
  text-align: center;
}

.social-icon {
  margin: 20px 10px;
}

.footer-link {
  color: black;
}

.footer-link:hover {
  color: #ff4c68;
}
